@import url('./variables.css');

body {
    overflow: hidden;
    background: linear-gradient(to right, var(--color-brighter-black), var(--color-black));
    font-family: "Roboto", sans-serif;    
    color: var(--color-grey);
}
::selection {
    color: var(--color-deep-purple);
    background: rgba(128, 128, 128, 0.087);
    border-radius: 5px;
}
::placeholder {
    color: var(--color-grey);
}

.container {
    background: linear-gradient(to left, var(--color-brighter-black), var(--color-black));
    border-radius: 8px;
    box-shadow:
        0px 0px 5px white,
        0px 0px 10px var(--color-deep-purple),
        0px 0px 20px var(--color-deep-purple),
        0px 0px 50px var(--color-deep-purple);

    display: flex;
    overflow: hidden;

    width: 80%;
    margin: 15% auto;
    padding: 1% 1% 1% 1%;
}

.schedule-container, .top-nav, .container, .not-registered {

    .error-msg {
        text-align: center;
        font-size: medium;
        text-shadow:
            0px 0px 5px var(--color-red),
            0px 0px 10px var(--color-red),
            0px 0px 20px var(--color-red);
        color: var(--color-white);
    }

    .welcome-text {
        overflow: auto;
        text-align: left;
        padding: 5% 5% 5% 5%;
        color: var(--color-grey-purple);
        width: 50%;
    }

    .input-container {
        overflow: auto;
        text-align: center;
        padding: 2% 2% 2% 2%;
        width: 50%;
    }

    .hidden {
        visibility: hidden;
    }

    button, input, textarea {
        width: 100%;
        padding: 2%;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 2%;
        background: linear-gradient(to right, var(--color-brighter-black), var(--color-black));
        outline: none;
        transition: box-shadow 0.3s ease-in-out;
    }

    button:hover,
    textarea:hover,
    input:hover,
    input:focus,
    .modal-content,
    .not-registered-content {
        box-shadow:
            0px 0px 3px white,
            0px 0px 8px var(--color-deep-purple),
            0px 0px 20px var(--color-deep-purple);
    }

    textarea, input {
        color: var(--color-grey);
        caret-color: var(--color-grey);
    }

    button {
        color: var(--color-grey);
        font-size: 20px;
        margin-bottom: 4%;
        cursor: pointer;
    }

    button:active {
        background: linear-gradient(to right, var(--color-dark-grey), var(--color-darker-grey));
    }

    .bottom-text {
        transition: text-shadow 0.3s ease-in-out;
        padding: 1%;
        cursor: pointer;
    }

    .bottom-text:hover, li:hover, .chrono {
        text-shadow:
            0px 0px 8px var(--color-deep-purple),
            0px 0px 20px var(--color-deep-purple);
    }

    .slide-enter-active, .slide-leave-active {
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
    .slide-enter-from {
        transform: translateX(100%);
        opacity: 0;
    }
    .slide-leave-to {
        transform: translateX(100%);
        opacity: 0;
    }

    .checkmark {
        width: 20px;
        height: 20px;
        border: 1px solid var(--color-grey);
        border-radius: 4px;
        position: relative;
        transition: box-shadow 0.3s ease-in-out;
    }
    .checkmark::after {
        content: "";
        position: absolute;
        display: none;
    }
    .custom-checkbox {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
        margin-left: 10%;
    }
    .custom-checkbox input {
        display: none;
    }
    .custom-checkbox:hover .checkmark {
        box-shadow:
            0 0 10px var(--color-deep-purple),
            0 0 10px var(--color-deep-purple),
            0 0 10px var(--color-deep-purple);
    }
    .custom-checkbox input:checked + .checkmark {
        background-color: var(--color-deep-purple);
        border-color: var(--color-deep-purple);
    }
    .custom-checkbox input:checked + .checkmark::after {
        display: block;
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid var(--color-black);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    .form-button {
        width: auto;
        background: linear-gradient(to left, var(--color-brighter-black), var(--color-black));
        box-shadow:
            0px 0px 4px var(--color-deep-purple),
            0px 0px 10px var(--color-deep-purple);
        border-radius: 8px;
        padding: 1%;
    }
    .form-button:hover {
        box-shadow:
            0px 0px 5px white,
            0px 0px 10px var(--color-deep-purple),
            0px 0px 20px var(--color-deep-purple),
            0px 0px 50px var(--color-deep-purple);
    }
    .close-button {
        font-size: 24px;
        cursor: pointer;
        margin: 0;
        padding: 0;
        width: 2rem;
        height: 2rem;
    }
}