/* :root {
    --color-grey: #969696;
    --color-dark-grey: #141414;
    --color-darker-grey: #191919;
    --color-deep-purple: #8800ff;
    --color-black: #000000;
    --color-brighter-black: #1f1f1f;
    --color-red: #ff0000;
} */

/* :root {
    --color-grey: #BFBFBF;
    --color-dark-grey: #282828;
    --color-darker-grey: #2D2D2D;
    --color-deep-purple: #AA33FF;
    --color-black: #131313;
    --color-brighter-black: #212121;
    --color-red: #FF3333;
} */

:root {
    --color-grey: #000000;
    --color-dark-grey: #e6e6e6;
    --color-darker-grey: #dedede;
    --color-deep-purple: #4433ff;
    --color-black: #b9bdec;
    --color-brighter-black: #e4e4e4;
    --color-red: #FF3333;
}

