:root {
    --color-grey: #969696;
    --color-dark-grey: #141414;
    --color-darker-grey: #191919;
    --color-deep-purple: #8800ff;
    --color-black: #000000;
    --color-briter-black: #1f1f1f;
    --color-red: #ff0000;
}
