:root {
    --color-grey: #b39ddb; /* Светло-фиолетовый для основного текста */
    --color-dark-grey: #d1c4e9; /* Нежно-фиолетовый для границ и разделителей */
    --color-darker-grey: #9575cd; /* Средне-фиолетовый для второстепенных элементов */
    --color-deep-purple: #6a1b9a; /* Глубокий фиолетовый как акцентный */
    --color-black: #4e342e; /* Темно-коричневый для акцентного текста */
    --color-brighter-black: #ffc1e3; /* Светло-розовый для фона */
    --color-red: #e57373; /* Мягкий красный для ошибок и предупреждений */
}
