:root {
    --color-grey: #555555; /* Темно-серый для основного текста */
    --color-dark-grey: #cccccc; /* Светло-серый для границ и разделителей */
    --color-darker-grey: #999999; /* Средне-серый для второстепенных элементов */
    --color-deep-purple: #8800ff; /* Основной акцентный цвет */
    --color-black: #333333; /* Очень темно-серый для заголовков и акцентного текста */
    --color-brighter-black: #ffffff; /* Белый для фона */
    --color-red: #ff0000; /* Красный для ошибок и предупреждений */
}
