@import "./colors.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.grey-style {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    
    overflow: hidden;
    background: var(--color-background);
    color: var(--color-dark-text);
    font-family: 'Montserrat', sans-serif;
}

::placeholder {
    color: var(--color-dark-text);
}

.error-msg {
    text-align: center;
    font-size: medium;
    text-shadow:
        0px 0px 5px var(--color-red),
        0px 0px 10px var(--color-red),
        0px 0px 20px var(--color-red);
    color: var(--color-white);
}

button, input, textarea, .task-text, .input-wrapper p {
    width: 100%;
    padding: 2%;
    font-size: 16px;
    border: 0;
    box-sizing: border-box;
    margin-top: 2%;
    outline: none;
    background: none;
    position: relative;
}

input::placeholder {
    color: var(--color-dark-text);
}

button {
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: var(--color-container);
    border-color: var(--color-dark-text);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.schedule-field button {
    background: var(--color-grey-text);
}

button:hover {
    background-color: var(--color-background);
    color: var(--color-bright-text);
}

button:active {
    background: rgb(0, 0, 0, 0.2);
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark-text);
}

.input-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, var(--color-underline-first), var(--color-underline-second));
    transition: width 0.5s ease;
}

.input-wrapper:hover::after, .input-wrapper:focus-within::after {
    width: 100%;
}

textarea, .task-text {
    border-radius: 5px;
    border: 2px solid var(--color-dark-text);
}

.edit-button,
.delete-button,
.return-button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-left: auto;
    padding-right: 5%;
}

::-webkit-scrollbar {
    width: 0.4vw;
    height: 0.4vw;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-text);
    border-radius: 0.4vw;
}
::-webkit-scrollbar-thumb:hover {
    border: 1px solid var(--color-container);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.bottom-text {
    padding: 1%;
    cursor: pointer;
    position: relative;
    display: block;
    width: fit-content;
    margin: auto;
    text-align: center;
}
.bottom-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, var(--color-underline-first), var(--color-underline-second));
    transition: all 0.5s ease;
    transform: translateX(-50%);
}
.bottom-text:hover::after {
    width: 100%;
}