
body {
  overflow: hidden;
  background: linear-gradient(to right, #d7ccc8, #a1887f);
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  color: #f9f9f9; /* Мягкий приглушённый жёлтый */
  text-shadow: 2px 2px 5px rgba(244, 208, 111, 0.5); /* Мягкая жёлтая тень */
}
