@import "../../../components/grey_style/Main.css";

.form-button {
    height: 4vh;
    border-radius: 2vh;
    padding: 0 1.5vh;
    border-color:rgb(0, 0, 0, 0);
    font-size: min(2vh, 2vw);
}

.form-button:hover {
    border-color: var(--color-container);
}

.modal-content input::placeholder,
.modal-content textarea::placeholder {
    color: var(--color-grey-text);
}

.close-button {
    font-size: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

.custom-checkbox {
    margin-top: 4%;
    margin-bottom: 2.5%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    pointer-events: none;
}
.checkmark {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-dark-text);
    border-radius: 4px;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    pointer-events: auto;
}
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
.custom-checkbox input {
    display: none;
}
.custom-checkbox:hover .checkmark,
.custom-checkbox input:checked + .checkmark {
    background-color: var(--color-grey-text);
}
.custom-checkbox:hover .checkmark::after,
.custom-checkbox input:checked + .checkmark::after {
    display: block;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid var(--color-dark-text);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.date::placeholder {
    color: var(--color-grey-text);
}

.modal-content input, .modal-content textarea {
    color: var(--color-grey-text);
}

.modal-overlay textarea, .task-text {
    height: 200px;
    resize: none;
    overflow: auto;
    font-size: 16px;
}

input::-webkit-calendar-picker-indicator {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
}